.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: radial-gradient(circle, rgba(176, 31, 5, 0.281) 0%, rgba(254, 0, 0, 0.555) 49%, rgba(0,0,0,0) 100%);
  height: 80vh;
  img {
    max-width: 100%;
    border-radius: 8px;
  }
}