<main>
  <section class="about">
    <h1>Enter snippets </h1>
    <form [formGroup]="snippedFrom">
      <div class="container-mini-msg">
        <label>Title</label>
        <span [hidden]="title.valid || title.untouched" class="mini-msg">Enter title</span>
      </div>
      <input 
  type="text" 
  [formControl]="title"
  placeholder="Title" 
  />
  <div class="container-mini-msg">
    <label>Code</label><span [hidden]="code.valid || code.untouched" class="mini-msg">Enter code</span>
  </div>
  <textarea type="text" 
  [formControl]="code"
  placeholder="code Snipped"
  ></textarea>
  <button class="submit-button"
  [disabled]="snippedFrom.invalid"
  (click)="save()"
  >Create</button>
</form>
</section>
</main>